body {
    background-color: #fff;
}
#auth {
    height: 100vh;
    overflow-x: hidden;
}
#auth-right {
    background: url(../../../assets/images/4853433.png?45649b87e0b3f50bfa1372c6cdb4595f),
        linear-gradient(90deg, #2d499d, #3f5491);
    height: 100%;
}
#auth #auth-left {
    padding: 4rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#auth #auth-left .auth-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
#auth #auth-left p.auth-subtitle {
    color: #a8aebb;
    font-size: 1.25rem !important;
}

#auth #auth-left .form-control.form-control-xl,
#auth #auth-left label,
#auth #auth-left p {
    font-size: 1.125rem !important;
}
#auth #auth-left .auth-logo {
    margin-bottom: 4rem;
}
#auth #auth-left .auth-logo img {
    height: 2rem;
}
#auth a:hover {
    text-decoration: underline;
}
@media screen and (max-width: 1199.98px) {
    #auth #auth-left {
        padding: 5rem 4rem;
    }
}
@media screen and (max-width: 991.98px) {
    #auth #auth-left {
        padding: 5rem 2.5rem;
    }
    #auth #auth-left .auth-logo {
        margin-bottom: 3rem;
    }
    #auth #auth-left .auth-title {
        font-size: 2rem;
    }
}
@media screen and (max-width: 767.98px) {
    #auth #auth-left {
        padding: 4rem 2rem;
    }
}
body.theme-dark #auth-right {
    background: url(../../../assets/images/4853433.png?45649b87e0b3f50bfa1372c6cdb4595f),
        linear-gradient(90deg, #2d499d, #3f5491);
}
